body{
	/*background: rgb(0,34,65);*/
	/*height: 1000px;*/
	font-family: 'Times New Roman';
}

.content: {
	width: 800px;
	margin: 0 auto;
}

.title{
	margin: 100px;
	/*line-height: 150%;*/
	text-align: center;
	color: rgb(131,236,185);
}

.guide{
	/*width: 200px;*/
}

.main{
	width: 500px;
	margin: 0 auto;
	/*position: absolute;*/
}


a.work-link{
	/*width: 700px;*/
	display: inline-block;
	font-size: 2em;
	color: rgb(255, 226, 0);
	/*color: white;*/
	text-decoration: none;
	text-align: left;
	padding: 0 1em 0em;
	border-radius: 25px;
}

a.link1{
	padding-bottom: 1em;
}

a.work-link::before{
	content: '';
	display: block;
	height: 1em;
	width: 5px;
	background: rgb(155,155,155);
	position: relative;
	top: 1em;
	left: -20px;
}

a.work-link:hover{
	background-color: rgba(222,222,222,0.6);
	color: pink;
	
}

/*beard*/

.beard{
	color: black;
	background-color: currentColor;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	transform-origin: 10px 10px;
	position: absolute;
}
.beard1{
	transform: translate(360px, -22px) rotate(0deg);
}
.beard2{
	transform: translate(345px, -22px) scaleX(-1) rotate(0deg);

}
.beard::before{
	content: '';
	display: block;
	height: 25px;
	width: 30px;
	position: relative;
	left: -10px;
	top: -15px;
	transform: rotate(120deg);
	transform-origin: 20px bottom;
	/*background-color: rgba(130,20,60,0.5);*/
	border-right: 20px solid black;
	border-radius: 0 100% 0 10px;
	box-sizing: border-box; 
}

.keyboard{
	color: black;
	background-color: currentColor;
	height: 24px;
	width: 48px;
	border-radius: 10px;
	transform-origin: 10px 10px;
	transform: translate(342px, -27px);
	box-shadow: -5px 5px 1px -1px gray;
}


