body{
	/*background: rgb(0,34,65);*/
	/*height: 1000px;*/
	font-family: 'Times New Roman';
}

.content: {
	width: 800px;
	margin: 0 auto;
}

.title{
	margin: 100px;
	/*line-height: 150%;*/
	text-align: center;
	color: rgb(131,236,185);
}

.guide{
	/*width: 200px;*/
}

.main{
	width: 500px;
	margin: 0 auto;
	/*position: absolute;*/
}


a.work-link{
	/*width: 700px;*/
	display: inline-block;
	color: rgb(255, 226, 0);
	/*color: white;*/
	text-decoration: none;
	text-align: left;
	padding: 0 20px 20px;
	border-radius: 25px;
}

a.work-link::before{
	content: '';
	display: block;
	height: 30px;
	width: 5px;
	background: rgb(155,155,155);
	position: relative;
	top: 20px;
	left: -20px;
}

a.work-link:hover{
	background-color: rgba(222,222,222,0.6);
	color: pink;
	
}











