body{
	color: ;
	font: bold 18px/25px sans-serif;
}
iframe{
	border: 5px solid #eeaacc;
	background-color: #99aaff;
	float: left;

}
.editable_box{
	height: 400px;
	width: 300px;
	float: left;
	margin: 20px;
	padding: 10px;
	border: 3px solid #aabbff;
}
.control-icon{
	display: inline-block;
	padding: 5px;
	box-sizing: border-box;
	background-color: yellow;
	border-radius: 10px;
}
.control-icon:hover{
background-color: brown;
border: none;
}