.beard{
	color: black;
	background-color: currentColor;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	transform-origin: 100px 100px;
	position: absolute;
}
.beard:nth-child(1){
	transform: translate(400px, 300px);
}
.beard:nth-child(2){
	transform: translate(250px, 300px) scaleX(-1);

}

.beard::before{
	content: '';
	display: block;
	height: 250px;
	width: 300px;
	position: relative;
	left: -100px;
	top: -150px;
	transform: rotate(120deg);
	transform-origin: 200px bottom;
	/*background-color: rgba(130,20,60,0.5);*/
	border-right: 200px solid black;
	border-radius: 0 100% 0 100px;
	box-sizing: border-box; 
}