.container{
	position: relative;
}
img{
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.bigPic{
	height: 100px;
	width: 120px;
	background-image: url(Sherlock.jpg);
	position: absolute;
	border: 1px solid black;
	border-radius: 20px;
	top: 10px;
	left: 45px;
	display: none;
	animation: fadeIn 2s;
}

@keyframes fadeIn
{
	0%{ opacity: 0; }
	70%{ opacity: 0.9; }
	100%{ opacity: 1; }
}